{% extends "base.html" %}
{% block main %}
    <div class="cn_2">
        <table border="0" width="730" cellpadding="10">
            <tr>
                <td valign="top" align="center">
                    <div class="nwsa">
                        <h3 class="newstt">
                            Ania
                        </h3>
                        <p>
                            {# <img src="gfx/ilu18.jpg" alt="" style="float: right; margin-left:10px"> #}
                            <img class="maly_obrazek" src="{{ STATIC_URL }}/photos/normal.ilu18.jpg" alt="obrazek" >
                            Ania jest najcudowniejszą kobietą pod słońcem. Pięknie pachnie cudnie śpiewa i w ogóle jest najpiękniejsza! Potrafi grać na oboju, gitarze, nerwach i w wojnę. Jest oceanem miłości, spokoju i opanowania.
                        </p>
                    </div>
                    <div class="nwsa">
                        <h3 class="newstt">
                            Marek
                        </h3>
                        <p>
                            {# <img src="gfx/ilu3.jpg" width="140" height="70" alt="" style="float: right; margin-left:10px"> #}
                            <img class="maly_obrazek" src="{{ STATIC_URL }}/photos/normal.ilu17.jpg" alt="obrazek" >
                                Może nie taki piękny i utalentowany jak Ania i do tego mądruś i krótkowidz (tak śmiesznie mruży oczy jak źle widzi - albo myśli). Z niewiadomych przyczyn, mimo niebagatelnego zainteresowania Anią przez innych mężczyzn, to właśnie jego wybrała na towarzysza życia. Ciekawe.
                        </p>
                    </div>
                </td>
                <td>
                    <div class="mala_ramka"><a href="{{ STATIC_URL }}/photos/normal.ilu5.jpg"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/thumb.ilu5.jpg" alt="obrazek" ></a></div><br>
                    <div class="mala_ramka"><a href="{{ STATIC_URL }}/photos/normal.ilu6.jpg"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/thumb.ilu6.jpg" alt="obrazek" ></a></div><br>
                    <div class="mala_ramka"><a href="{{ STATIC_URL }}/photos/normal.ilu7.jpg"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/thumb.ilu7.jpg" alt="obrazek" ></a></div><br>
                    <div class="mala_ramka"><a href="{{ STATIC_URL }}/photos/normal.ilu8.jpg"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/thumb.ilu8.jpg" alt="obrazek" ></a></div><br>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
