{% extends "base.html" %}

{% block main %}

    <div class="cn_2">
        <table border="0" width="730" cellpadding="10">
            <tr>
                <td valign="top" align="center">

                    <div class="nwsa">
                        <h3 class="newstt">
                            Ania
                        </h3>
                        <p>
                            <img src="gfx/ilu2.jpg" alt="" style="float: right; margin-left:10px">
                            Ania jest najcudowniejszą kobietą pod słońcem. Pięknie pachnie cudnie śpiewa i w ogóle jest najpiękniejsza! Ułożyła żydowską melodię do psalmu responsoryjnego, choć Żydówką wydaje się nijak nie być.
                        </p>
                    </div>

                    <div class="nwsa">
                        <h3 class="newstt">
                            Marek
                        </h3>
                        <p>
                            <img src="gfx/ilu3.jpg" width="140" height="70" alt="" style="float: right; margin-left:10px">
                            Może nie taki piękny i utalentowany jak Ania, ale w sumie, to można sobie wyobrazić gorszy materiał na męża. Z niewiadomych przyczyn, mimo niebagatelnego zainteresowania Anią przez innych mężczyzn, to właśnie jego wybrała na towarzysza życia. Ciekawe.
                        </p>
                    </div>

                </td>
                <td>
                    <div class="mala_ramka"><a href="#"><img src="gfx/ilu4.jpg" alt="" border="0" width="70" height="70"></a></div>
                    <div class="mala_ramka"><a href="#"><img src="gfx/ilu1.jpg" alt="" border="0" width="70" height="70"></a></div>
                    <div class="mala_ramka"><a href="#"><img src="gfx/ilu5.jpg" alt="" border="0" width="70" height="70"></a></div>
                    <div class="mala_ramka"><a href="#"><img src="gfx/ilu6.jpg" alt="" border="0" width="70" height="70"></a></div>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}
