{% extends 'base.html' %}

{% block main %}
            <div class="cn_2">
                <table border="0" width="730" cellpadding="10">
                    <tr>
                        <td valign="top" align="center">
                            <div class="nwsa">
                                <h3 class="newstt">
                                    Ania
                                </h3>
                                <p>
                                    <img src="gfx/ilu2.jpg" alt="" style="float: right; margin-left:10px">
                                    <a href="mailto:tracz.ania@gmail.com">
                                        Anna Tracz
                                    </a>
                                </p>
                            </div>

                            <div class="nwsa">
                                <h3 class="newstt">
                                    Marek
                                </h3>
                                <p>
                                    <a href="mailto:brzoskamarek@gmail.com">
                                        Marek Brzóska
                                    </a>
                                </p>
                            </div>

                            </td><td valign="top">

                            <div class="mala_ramka"><a href="#"><img src="gfx/ilu4.jpg" alt="" border="0" width="70" height="70"></a></div>
                            <div class="mala_ramka"><a href="#"><img src="gfx/ilu1.jpg" alt="" border="0" width="70" height="70"></a></div>
                            <div class="mala_ramka"><a href="#"><img src="gfx/ilu5.jpg" alt="" border="0" width="70" height="70"></a></div>
                            <div class="mala_ramka"><a href="#"><img src="gfx/ilu6.jpg" alt="" border="0" width="70" height="70"></a></div>

                        </td>
                    </tr>
                </table>

            </div>
{% endblock %}
