{% extends "base.html" %}

{% block main %}
    <div>
                            <div class="nwsa" style="width: 640">
                                <h3 class="newstt">
                                    Zobaczyć białą sukienkę, usłyszeć przysięgę i tak dalej...
                                </h3>
                                <p>
                                    ... będzie można w kościółku pod wezwaniem św. Karola Boromeusza.
                                </p>
                                <div style="font-size:10px; padding: 10px;">
                                    Mapka z oznaczonym kościołem:
                                </div>
                                <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?vpsrc=6&amp;ctz=-60&amp;ie=UTF8&amp;msa=0&amp;msid=214656163787340423267.0004b18877c92c78e1568&amp;t=m&amp;ll=50.876178,20.61018&amp;spn=0.051993,0.109863&amp;z=13&amp;iwloc=0004b18880bc3dc94fb8a&amp;output=embed">
                                </iframe>
                                <br>
                                <small>
                                    <a href="http://maps.google.com/maps/ms?vpsrc=6&amp;ctz=-60&amp;ie=UTF8&amp;msa=0&amp;msid=214656163787340423267.0004b18877c92c78e1568&amp;t=m&amp;ll=50.876178,20.61018&amp;spn=0.051993,0.109863&amp;z=13&amp;iwloc=0004b18880bc3dc94fb8a&amp;source=embed" style="color:#0000FF;text-align:left">
                                        Zobacz większą mapę
                                    </a>
                                </small>
                            </div>
    </div>
    <div>
                            <div class="nwsa" style="width: 640">
                                <h3 class="newstt">
                                    A potem z naszą rodzinką idziemy wszamać coś lekkiego...
                                </h3>
                                <p>
                                    ...do restauracji przy hotelu kameralnym.
                                </p>
                                <div style="font-size:10px; padding: 10px;">
                                    Mapka z oznaczonym hotelem:
                                </div>
                                <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=pl&amp;mpa=0&amp;ctz=-60&amp;mpf=0&amp;ie=UTF8&amp;msa=0&amp;msid=214656163787340423267.0004b2a3b4fb5b852bb0d&amp;t=m&amp;vpsrc=6&amp;ll=50.864261,20.631809&amp;spn=0.026003,0.054932&amp;z=14&amp;iwloc=0004b2a449151449e1f62&amp;output=embed">
                                </iframe>
                                <br>
                                <small>
                                    <a href="http://maps.google.com/maps/ms?hl=pl&amp;mpa=0&amp;ctz=-60&amp;mpf=0&amp;ie=UTF8&amp;msa=0&amp;msid=214656163787340423267.0004b2a3b4fb5b852bb0d&amp;t=m&amp;vpsrc=6&amp;ll=50.864261,20.631809&amp;spn=0.026003,0.054932&amp;z=14&amp;iwloc=0004b2a449151449e1f62&amp;source=embed" style="color:#0000FF;text-align:left">
                                        Zobacz większą mapę
                                    </a> 
                                </small>
                            </div>
    </div>
{% endblock %}
