{% extends 'base.html' %}

{% block main %}
            <div class="cn_2">
                <table border="0" width="730" cellpadding="10">
                    <tr>
                        <td valign="top" align="center">
                            <div class="nwsa">
                                <h3 class="newstt">
                                    Zapraszamy wszystkich na nasz ślub!
                                </h3>
                                <p>
                                    <img src="gfx/ilu2.jpg" alt="" style="float: right; margin-left:10px">
                                    Ceremonia zawarcia przez nas związku małżeńskiego, odbędzie się dnia 28 lipca 2012 o godzinie 11:00 w kościele pod wezwaniem świętego Karola Boromeusza na Karczówce w Kielcach.
                                </p>
                                <p>
                                    Zapraszamy wszystkich, którzy nam dobrze życzą, są ciekawi jak Ania będzie wyglądać w białej sukience lub po prostu mają ochotę uczestniczyć w uroczystości.
                                </p>
                                <div style="text-align:left; font-size:10px; padding: 10px;">
                                    Ania i Marek
                                </div>
                            </div>

                            <div class="nwsa">
                                <h3 class="newstt">
                                    Obiad
                                </h3>
                                <p>
                                    <img src="{{ STATIC_URL }}/photos/kanapka-z-chlebem.png" width="110" height="90" alt="Jedzonko" style="float: right; margin-left:10px">
                                    Jakiś czas po uroczystości, koło godziny 14 odbędzie się obiad dla najbliższych państwa młodych, czyli naszej rodziny. Wesela nie będzie. Mamy plany na wieczór po ślubie.
                                </p>
                                <div style="text-align:left; font-size:10px; padding: 10px;">
                                    Ania i Marek
                                </div>
                            </div>

                        </td>
                        <td valign="top">
                            <a href="{{ STATIC_URL }}/photos/ilu1.jpg"><div class="mala_ramka"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/ilu1.jpg" alt="obrazek" ></div></a><br> 
                            <a href="{{ STATIC_URL }}/photos/ilu2.jpg"><div class="mala_ramka"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/ilu2.jpg" alt="obrazek" ></div></a><br>
                            <a href="{{ STATIC_URL }}/photos/ilu3.jpg"><div class="mala_ramka"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/ilu3.jpg" alt="obrazek" ></div></a><br>
                            <a href="{{ STATIC_URL }}/photos/ilu4.jpg"><div class="mala_ramka"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/ilu4.jpg" alt="obrazek" ></div></a><br>
                        </td>
                    </tr>
                </table>

            </div>
{% endblock %}
