{% extends 'base.html' %}

{% block main %}
            <div class="cn_2">

                <table border="0" width="730" cellpadding="10">
                    <tr>
                        <td valign="top" align="center">

                            <div class="nwsa">
                                <h3 class="newstt">
                                    Consectetur adipisicing elit
                                </h3>
                                <p>
                                    <img src="gfx/ilu2.jpg" alt="" style="float: right; margin-left:10px">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <div style="text-align:right; font-size:10px; padding: 10px;">
                                    Dodał <b>Administrator</b>, 14 marzec 2008 12:11
                                </div>
                            </div>

                            <div class="nwsa">
                                <h3 class="newstt">
                                    Exercitation ullamco laboris
                                </h3>
                                <p>
                                    <img src="gfx/ilu3.jpg" width="140" height="70" alt="" style="float: right; margin-left:10px">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                                <div style="text-align:right; font-size:10px; padding: 10px;">
                                    Dodał <b>Administrator</b>, 14 marzec 2008 12:11
                                </div>
                            </div>

                            </td><td valign="top">

                            <div class="mala_ramka"><a href="#"><img src="gfx/ilu4.jpg" alt="" border="0" width="70" height="70"></a></div>
                            <div class="mala_ramka"><a href="#"><img src="gfx/ilu1.jpg" alt="" border="0" width="70" height="70"></a></div>
                            <div class="mala_ramka"><a href="#"><img src="gfx/ilu5.jpg" alt="" border="0" width="70" height="70"></a></div>
                            <div class="mala_ramka"><a href="#"><img src="gfx/ilu6.jpg" alt="" border="0" width="70" height="70"></a></div>

                        </td>
                    </tr>
                </table>

            </div>
{% endblock %}
