<div class="red" style="margin-bottom: 10px;">
    <a href="{% url home %}" title="">
        <b>Strona główna</b>
    </a>
</div>

<div class="sp"></div>

<a href="#" class="menu" title="">Kiedy ten ślub</a>

<div class="sp"></div>

<a href="#" class="menu" title="">Jak dojechać</a>

<div class="sp"></div>

<a href="#" class="menu" title="">Parę naszych zdjęć</a>

<div class="sp"></div>

<a href="#" class="menu" title="">Zdjęcia ze ślubu</a>

<div class="sp"></div>

<a href="#" class="menu" title="">O nas</a>

<div class="sp"></div>

<a href="{% url gifts %}" class="menu" title="">Prezenty</a>

<div class="sp"></div>

<a href="#" class="menu2" title="">Kontakt</a>

<div class="sp"></div>
