<div class="red" style="margin-bottom: 10px;">
    <a href="{% url home %}" title="">
        <b>Strona główna</b>
    </a>
</div>

<div class="sp"></div>

<a href="{% url directions %}" class="menu" title="">Jak dojechać</a>

<div class="sp"></div>


<a href="{% url about %}" class="menu" title="">O nas</a>

<!--<div class="sp"></div>-->

<!--<a href="#" class="menu" title="">Galeria</a>-->

<div class="sp"></div>

<a href="/photologue/gallery/" class="menu" title="">Galeria</a>

<div class="sp"></div>

<a href="{% url contact %}" class="menu2" title="">Kontakt</a>

<div class="sp"></div>
