{% extends 'base.html'%}
{% block subtitle %}
    - Lista prezentów
{% endblock %}
{% block main %}
    <div class="cn_2">
        <table border="0" width="730" cellpadding="10">
            <tr>
                <td valign="top" align="center">
                    {% for gift in gifts %}
                    <div class="nwsa">
                        <p>
                            <a href="{% url gift gift.id %}">
                                {% if not gift.is_reserved %}
                                    {{ gift.name }}
                                {% else %}
                                    <span class='reserved'>
                                        {{ gift.name }}
                                    </span> 
                                    <small>(zarezerwowane)</small>
                                {% endif %}
                            </a>
                        </p>
                    </div>
                    {% empty %}
                        Hmmm, jeszcze nie wiemy czego chcemy... Na pewno działka, dom i samochód.
                    {% endfor %}
                </td>
                <td valign="top">
                    <div class="mala_ramka"><a href="{{ STATIC_URL }}/photos/normal.ilu13.jpg"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/thumb.ilu13.jpg" alt="obrazek"></a></div> <br>
                    <div class="mala_ramka"><a href="{{ STATIC_URL }}/photos/normal.ilu14.jpg"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/thumb.ilu14.jpg" alt="obrazek"></a></div> <br>
                    <div class="mala_ramka"><a href="{{ STATIC_URL }}/photos/normal.ilu15.jpg"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/thumb.ilu15.jpg" alt="obrazek"></a></div> <br>
                    <div class="mala_ramka"><a href="{{ STATIC_URL }}/photos/normal.ilu16.jpg"><img class="maly_obrazek" src="{{ STATIC_URL }}/photos/thumb.ilu16.jpg" alt="obrazek"></a></div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
