{% extends 'base.html'%}

{% block subtitle %}
    - Gift List
{% endblock %}

{% block main %}

    {% for gift in gifts %}
        <br> 
        {% if not gift.is_reserved %}
            <a href="{% url gift gift.id %}">{{ gift.name }}</a>
        {% else %}
            <strike>
                <a href="{% url gift gift.id %}">{{ gift.name }}</a>
            </strike> 
            <small>(reserved)</small>
        {% endif %}
    {% empty %}
        Hmmm, jeszcze nie wiemy czego chcemy... Na pewno działka, dom i samochód.
    {% endfor %}

{% endblock %}
