{% extends 'base.html'%}

{% block subtitle %}
    - Prezent: {{ gift.name }}
{% endblock %}


{% block main %}

<h2>{{ gift.name }}</h2>
    {% for link in gift.links.all %}
        {% if forloop.counter == 1 %}na przykład:{% endif %}
        <br>
        {% if forloop.counter > 1 %} lub <br>{% endif %}
        stąd: <a href="{{ link.href }}">{{ link.href }}</a>
    {% endfor %}
    <br><br>
    {% if form %}
        <br>
        <form method='post' action='{% url gift gift.id %}'>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Kupię wam to!">
        </form>
    {% else %}
        <big><strong>Ktoś już obiecał, że nam to kupi...</strong></big>
    {% endif %}

{% endblock %}
